<%= form_tag products_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search], placeholder: "Search by location" %>
    <%= submit_tag "Search", :name => nil, :class => "btn btn-primary" %>
  </p>
<% end %>