<div class="container">

  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron welcome-jumbotron">
    <h1>Find something good to eat</h1>
    <br>
      <div class="welcome-links-container">
    <p>
      <%= link_to "Buying? &raquo;".html_safe, root_path, {:class => "btn btn-lg btn-primary", :id => "new-product-link", remote: true} %>

      <%= link_to "Selling? &raquo;".html_safe, new_product_path, {:class => "btn btn-lg btn-primary", :id => "new-product-link", remote: true} %>
    </p>
  </div>
  </div>

</div>


