body {
  background: url(cover.jpg) no-repeat center center fixed;
  background-size: cover;
}

.welcome-jumbotron {
  margin-top: 75px;
  background-color:rgba(200,24,24,0.5);
  padding: 45px;
  color: white;
}

.thumbnail-preview {
  margin: 10px;
}

.new-user-form {
  color: white;
  padding: 50px;
margin:auto;
width:350px;
background-color:rgba(0,0,0,0.5);
text-shadow: 1px 1px #000000;
}

.notice {
  background-color:rgba(250,250,250,0.5);
  line-height: 2;
}

.alert {
  background-color:rgba(250,250,250,0.5);
  line-height: 2;
}